th {
    background-color: tan;
    color: black;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: tan;
    color: black;
}

h2{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

  .redbackground{
    background-color: red;

  }
  .delete-button {
    float: right;
  }
